{"http_interactions": [{"recorded_at": "2018-02-26T14:50:24", "request": {"method": "POST", "body": {"encoding": "utf-8", "string": "redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&client_id=<CLIENT_ID>&refresh_token=<REFRESH_TOKEN>&client_secret=<CLIENT_SECRET>&grant_type=refresh_token"}, "uri": "https://www.googleapis.com/oauth2/v4/token", "headers": {"Content-Type": "application/x-www-form-urlencoded"}}, "response": {"status": {"message": "OK", "code": 200}, "body": {"encoding": "UTF-8", "string": "{\n \"access_token\": \"<ACCESS_TOKEN>\",\n \"token_type\": \"Bearer\",\n \"expires_in\": 3600\n}\n"}, "url": "https://www.googleapis.com/oauth2/v4/token", "headers": {"Content-Type": "application/json; charset=UTF-8"}}}, {"recorded_at": "2018-02-26T14:50:30", "request": {"method": "POST", "body": {"encoding": "utf-8", "string": ""}, "uri": "https://www.googleapis.com/chromewebstore/v1.1/items/<APP_ID>/publish?publishTarget=trustedTesters", "headers": {"Authorization": "Bearer <ACCESS_TOKEN>", "publishTarget": "trustedTesters", "x-goog-api-version": "2"}}, "response": {"status": {"message": "OK", "code": 200}, "body": {"encoding": "UTF-8", "string": "{\"kind\":\"chromewebstore#item\",\"item_id\":\"<APP_ID>\",\"status\":[\"OK\"],\"statusDetail\":[\"OK.\"]}"}, "url": "https://www.googleapis.com/chromewebstore/v1.1/items/<APP_ID>/publish?publishTarget=trustedTesters", "headers": {"Content-Type": "application/json; charset=UTF-8"}}}], "recorded_with": "betamax/0.8.0"}