{
  "http_interactions": [
    {
      "response": {
        "headers": {
          "Content-Disposition": "attachment; filename=\"json.txt\"; filename*=UTF-8''json.txt",
          "Content-Type": "application/json; charset=utf-8"
        },
        "body": {
          "string": "{\n  \"access_token\" : \"<ACCESS_TOKEN>\",\n  \"expires_in\" : 3599,\n  \"refresh_token\" : \"<REFRESH_TOKEN>\",\n  \"token_type\" : \"Bearer\"\n}",
          "encoding": "utf-8"
        },
        "url": "https://accounts.google.com/o/oauth2/token",
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "2016-12-22T14:22:40",
      "request": {
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "uri": "https://accounts.google.com/o/oauth2/token",
        "body": {
          "string": "code=<CODE>&client_secret=<CLIENT_SECRET>&client_id=<CLIENT_ID>&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&grant_type=authorization_code",
          "encoding": "utf-8"
        },
        "method": "POST"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}