{"recorded_with": "betamax/0.8.0", "http_interactions": [{"request": {"headers": {"Authorization": "Bearer <ACCESS_TOKEN>", "x-goog-api-version": "2"}, "method": "POST", "uri": "https://www.googleapis.com/chromewebstore/v1.1/items/<APP_ID>/publish?publishTarget=default", "body": {"encoding": "utf-8", "string": ""}}, "response": {"headers": {"Content-Type": "application/json; charset=UTF-8"}, "status": {"message": "OK", "code": 200}, "url": "https://www.googleapis.com/chromewebstore/v1.1/items/<APP_ID>/publish?publishTarget=default", "body": {"encoding": "UTF-8", "string": "{\"kind\":\"chromewebstore#item\",\"item_id\":\"<APP_ID>\",\"status\":[\"OK\"],\"statusDetail\":[\"OK.\"]}"}}, "recorded_at": "2017-01-06T09:29:57"}, {"request": {"headers": {"Content-Type": "application/x-www-form-urlencoded"}, "method": "POST", "uri": "https://accounts.google.com/o/oauth2/token", "body": {"encoding": "utf-8", "string": "redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&client_secret=<CLIENT_SECRET>&client_id=<CLIENT_ID>&refresh_token=<REFRESH_TOKEN>&grant_type=refresh_token"}}, "response": {"headers": {"Content-Disposition": "attachment; filename=\"json.txt\"; filename*=UTF-8''json.txt", "Content-Type": "application/json; charset=utf-8"}, "status": {"message": "OK", "code": 200}, "url": "https://accounts.google.com/o/oauth2/token", "body": {"encoding": "utf-8", "string": "{\n  \"access_token\" : \"<ACCESS_TOKEN>\",\n  \"expires_in\" : 3600,\n  \"token_type\" : \"Bearer\"\n}"}}, "recorded_at": "2017-01-06T09:31:43"}, {"request": {"headers": {"Authorization": "Bearer <ACCESS_TOKEN>", "x-goog-api-version": "2", "publishTarget": "trustedTesters"}, "method": "POST", "uri": "https://www.googleapis.com/chromewebstore/v1.1/items/<APP_ID>/publish?publishTarget=trustedTesters", "body": {"encoding": "utf-8", "string": ""}}, "response": {"headers": {"Content-Type": "application/json; charset=UTF-8"}, "status": {"message": "OK", "code": 200}, "url": "https://www.googleapis.com/chromewebstore/v1.1/items/<APP_ID>/publish?publishTarget=trustedTesters", "body": {"encoding": "UTF-8", "string": "{\"kind\":\"chromewebstore#item\",\"item_id\":\"<APP_ID>\",\"status\":[\"OK\"],\"statusDetail\":[\"OK.\"]}"}}, "recorded_at": "2017-01-06T09:31:50"}]}