{
  "recorded_with": "betamax/0.8.0",
  "http_interactions": [
    {
      "request": {
        "method": "POST",
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "body": {
          "encoding": "utf-8",
          "string": "redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&client_id=<CLIENT_ID>&refresh_token=<REFRESH_TOKEN>&client_secret=<CLIENT_SECRET>&grant_type=refresh_token"
        },
        "uri": "https://accounts.google.com/o/oauth2/token"
      },
      "response": {
        "url": "https://accounts.google.com/o/oauth2/token",
        "headers": {
          "Content-Disposition": "attachment; filename=\"json.txt\"; filename*=UTF-8''json.txt",
          "Content-Type": "application/json; charset=utf-8"
        },
        "body": {
          "encoding": "utf-8",
          "string": "{\n  \"access_token\" : \"<ACCESS_TOKEN>\",\n  \"expires_in\" : 3600,\n  \"token_type\" : \"Bearer\"\n}"
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "2017-01-06T08:35:44"
    },
    {
      "request": {
        "method": "POST",
        "headers": {
          "Authorization": "Bearer <ACCESS_TOKEN>",
          "x-goog-api-version": "2"
        },
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "uri": "https://www.googleapis.com/upload/chromewebstore/v1.1/items"
      },
      "response": {
        "url": "https://www.googleapis.com/upload/chromewebstore/v1.1/items",
        "headers": {
          "ETag": "\"zcKCbcvu6shTA9Iu7WA6nfbfCrA/Hfmz-kOpiSkKqxdHDUeCSrhvEfQ\"",
          "Content-Type": "application/json; charset=UTF-8"
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\":\"chromewebstore#item\",\"id\":\"mhdbilcoceloecheohngmbaplahhjbnn\",\"uploadState\":\"SUCCESS\"}"
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "recorded_at": "2017-01-06T08:35:54"
    }
  ]
}