{"http_interactions": [{"recorded_at": "2018-02-26T14:50:06", "request": {"method": "POST", "body": {"encoding": "utf-8", "string": "redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&grant_type=authorization_code&code=<CODE>"}, "uri": "https://www.googleapis.com/oauth2/v4/token", "headers": {"Content-Type": "application/x-www-form-urlencoded"}}, "response": {"status": {"message": "OK", "code": 200}, "body": {"encoding": "UTF-8", "string": "{\n \"access_token\": \"<ACCESS_TOKEN>\",\n \"token_type\": \"Bearer\",\n \"expires_in\": 3600,\n \"refresh_token\": \"<REFRESH_TOKEN>\"\n}\n"}, "url": "https://www.googleapis.com/oauth2/v4/token", "headers": {"Content-Type": "application/json; charset=UTF-8"}}}], "recorded_with": "betamax/0.8.0"}