{"http_interactions": [{"recorded_at": "2018-02-26T14:50:06", "request": {"method": "POST", "body": {"encoding": "utf-8", "string": "redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&client_id=<CLIENT_ID>&refresh_token=<REFRESH_TOKEN>&client_secret=<CLIENT_SECRET>&grant_type=refresh_token"}, "uri": "https://www.googleapis.com/oauth2/v4/token", "headers": {"Content-Type": "application/x-www-form-urlencoded"}}, "response": {"status": {"message": "OK", "code": 200}, "body": {"encoding": "UTF-8", "string": "{\n \"access_token\": \"<ACCESS_TOKEN>\",\n \"token_type\": \"Bearer\",\n \"expires_in\": 3600\n}\n"}, "url": "https://www.googleapis.com/oauth2/v4/token", "headers": {"Content-Type": "application/json; charset=UTF-8"}}}, {"recorded_at": "2018-02-26T14:50:15", "request": {"method": "PUT", "body": {"encoding": "utf-8", "string": ""}, "uri": "https://www.googleapis.com/upload/chromewebstore/v1.1/items/<APP_ID>", "headers": {"Authorization": "Bearer <ACCESS_TOKEN>", "x-goog-api-version": "2"}}, "response": {"status": {"message": "OK", "code": 200}, "body": {"encoding": "UTF-8", "string": "{\"kind\":\"chromewebstore#item\",\"id\":\"<APP_ID>\",\"uploadState\":\"SUCCESS\"}"}, "url": "https://www.googleapis.com/upload/chromewebstore/v1.1/items/<APP_ID>", "headers": {"Content-Type": "application/json; charset=UTF-8", "ETag": "\"ScjL6uzcKur_Zh_9YYIwNs7aBB0/rnVkSWJwr7lROf2YEsYy2qjyBes\""}}}], "recorded_with": "betamax/0.8.0"}