{"http_interactions": [{"request": {"headers": {"Content-Type": "application/x-www-form-urlencoded"}, "uri": "https://accounts.google.com/o/oauth2/token", "body": {"string": "grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>&client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob", "encoding": "utf-8"}, "method": "POST"}, "response": {"headers": {"Content-Type": "application/json; charset=utf-8", "Content-Disposition": "attachment; filename=\"json.txt\"; filename*=UTF-8''json.txt"}, "url": "https://accounts.google.com/o/oauth2/token", "body": {"string": "{\n  \"access_token\" : \"<ACCESS_TOKEN>\",\n  \"expires_in\" : 3600,\n  \"token_type\" : \"Bearer\"\n}", "encoding": "utf-8"}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "2017-01-05T15:12:18"}, {"request": {"headers": {"x-goog-api-version": "2", "Authorization": "Bearer <ACCESS_TOKEN>"}, "uri": "https://www.googleapis.com/upload/chromewebstore/v1.1/items/<APP_ID>X", "body": {"string": "", "encoding": "utf-8"}, "method": "PUT"}, "response": {"headers": {"ETag": "\"zcKCbcvu6shTA9Iu7WA6nfbfCrA/CAcDd_VcZy7cwxCC0S0KyBSuL78\"", "Content-Type": "application/json; charset=UTF-8"}, "url": "https://www.googleapis.com/upload/chromewebstore/v1.1/items/<APP_ID>X", "body": {"string": "{\"kind\":\"chromewebstore#item\",\"uploadState\":\"FAILURE\",\"itemError\":[{\"error_code\":\"CLIENT_ERROR\",\"error_detail\":\"Application error (6): <APP_ID>X not found\"}]}", "encoding": "UTF-8"}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "2017-01-05T15:12:20"}], "recorded_with": "betamax/0.8.0"}